# Assignment 2: Privacy-Preserving Data Sharing
### Security and Privacy Project - MECD (2022/2023)

### Autores

- Duarte Meneses - 2019216949
- Patricia Costa - 2019213995

### Import dataset

In [21]:
import numpy as np
import pandas as pd
import seaborn as sns
from scipy import stats

infri = pd.read_csv('data/infringement_dataset_v2.csv')

infri.fillna(value = -1,  
          inplace = True) 

display(infri)

,loan_id,infringed,contract_type,gender,has_own_car,has_own_realty,num_children,annual_income,credit_amount,credit_annuity,...,first_name,last_name,past_avg_amount_annuity,past_avg_amt_application,past_avg_amt_credit,past_loans_approved,past_loans_refused,past_loans_canceled,past_loans_unused,past_loans_total
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,Robert,Watkins,9251.77500,179055.000,179055.00,1.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,Jane,Navarro,56553.99000,435436.500,484191.00,3.0,0.0,0.0,0.0,3.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,David,Seagraves,5357.25000,24282.000,20106.00,1.0,0.0,0.0,0.0,1.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,Deborah,Tandy,23651.17500,272203.260,291695.50,5.0,3.0,1.0,0.0,9.0
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,David,Walker,12278.80500,150530.250,166638.75,6.0,0.0,0.0,0.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307506,456251,0,Cash loans,M,N,N,0,157500.0,254700.0,27558.0,...,Lawrence,Mcwayne,6605.91000,40455.000,40455.00,1.0,0.0,0.0,0.0,1.0
307507,456252,0,Cash loans,F,N,Y,0,72000.0,269550.0,12001.5,...,Belinda,Loveland,10074.46500,57595.500,56821.50,1.0,0.0,0.0,0.0,1.0
307508,456253,0,Cash loans,F,N,Y,0,153000.0,677664.0,29979.0,...,Aileen,Rasmussen,4770.40500,24162.750,20625.75,2.0,0.0,0.0,0.0,2.0
307509,456254,1,Cash loans,F,N,Y,0,171000.0,370107.0,20205.0,...,Mary,Marbury,10681.13250,121317.750,134439.75,2.0,0.0,0.0,0.0,2.0
307510,456255,0,Cash loans,F,N,N,0,157500.0,675000.0,49117.5,...,Sophia,Murphy,20775.39188,362770.875,424431.00,6.0,0.0,2.0,0.0,8.0

### 2.2. Sensitivity

##### Mean of past events

In [ ]:
from matplotlib import pyplot as plt
columns = ['past_avg_amount_annuity', 'past_avg_amt_application', 'past_avg_amt_credit', 'past_loans_total']
colunas = infri[['age','past_avg_amount_annuity', 'past_avg_amt_application', 'past_avg_amt_credit', 'past_loans_total']]
colunas = colunas.groupby("age").mean()
display(colunas)

In [81]:
def sensitivity_mean(data):
    l = []
    mean_past = data.mean()
    print("Total mean:", mean_past)

    for i in range(len(data)):
        aux = data.drop(data.index[i])
        l.append(abs(mean_past - aux.mean()))

    return max(l)

df_sensitivity = pd.DataFrame(columns=columns, index = ["Original Sensitivity", "Epsilon = 0.01", "Epsilon = 0.2"])

s_annuity = sensitivity_mean(colunas['past_avg_amount_annuity'])
s_application = sensitivity_mean(colunas['past_avg_amt_application'])
s_credit = sensitivity_mean(colunas['past_avg_amt_credit'])
s_loans = sensitivity_mean(colunas['past_loans_total'])

df_sensitivity.loc["Original Sensitivity"] = [s_annuity, s_application, s_credit, s_loans]

display(df_sensitivity)

Total mean: 13328.026144908183
144.95175805935287
85.07513500548339
66.86073719600063
65.91314928391694
55.352903358336334
53.33902880381538
49.50945559950196
35.53108165242338
28.51081646131388
22.03868694884477
19.984574833848455
14.208957872166138
13.555193416910697
11.253537331287589
10.021110505509569
5.7531801559562155
2.8168081158928544
1.158650218805633
5.795510607555116
13.023981712965906
16.325155139065828
18.87438468176333
18.975088845680148
25.309927107882686
23.66927010417021
29.495736561157173
32.77404896841472
31.744338820120902
29.255880337415874
30.593902990709466
38.38122894674052
36.06511441087241
40.630438006181066
33.997913441604396
33.37787787271918
33.64173084881622
35.68679191773481
39.10992336509662
26.685699577692503
37.62445506092081
27.06296822405602
19.805362147799315
19.906224314405335
25.586265998243107
24.093536280459375
7.9319524205911875
17.115586708065166
21.411025029628945
17.48460544536283
15.896027146085544
Total mean: 139488.50141987667
1292.9337789770798
1194.077451410587
1026.8989163935184
1006.5646740430966
903.4957152491843
801.7406590934843
713.7620266295853
622.1266294305678
547.1433172696852
438.74550874493434
409.3160741866741
321.7781513891241
299.29577496266575
267.15383038215805
254.96805707304156
144.09616689223913
113.94291490528849
34.70918138703564
69.71004653137061
186.86070504027884
244.85000741132535
272.071905965131
288.24660942092305
351.6764742032683
328.6917472475034
411.16149452838
515.2333326471853
499.7029988663271
454.9326502594922
461.70448407766526
552.4252459437994
543.9098035315983
584.6082412723044
580.2445740934345
543.0545917463896
627.1048563458025
636.4573988431657
685.7742916718998
584.3076278228546
784.6102976105176
645.3277304482472
527.2031123429188
540.0469301027188
532.4981026414898
537.6398571559694
189.61786946759094
302.45956738560926
668.9373096364725
887.4330563913973
928.0942254056281
Total mean: 152558.7080045867
1585.3256735629984
1443.0422689166735
1263.399254908727
1225.3553870594187
1078.1282220596331
969.5891458158148
845.5397723039787
684.5843339399435
583.7863204574096
439.80446036776993
389.60416280891513
310.58248362489394
284.1443313569762
221.99473377139657
219.6478970340686
91.24172475299565
59.62928592754179
41.286788643861655
130.71780222593225
270.36473196870065
321.45961351465667
354.5811305528332
395.94818296137964
449.7952751656412
446.5238730258716
532.3906261971861
649.4263106226572
632.6701074715238
586.1781644166913
604.341885017755
685.734980584326
676.7211146389891
723.6101912814775
694.8617131046485
666.7955606447358
743.725029143563
759.0096935234324
788.2283938182227
648.6610273456026
819.9793467193667
668.5450014928647
544.1218854940962
523.0460400992597
484.67202582088066
460.92077097442234
80.28388052905211
449.45529921905836
862.7175061108137
1128.2747108927288
1248.754172108922
Total mean: 4.50357352176235
0.010277010648211515
0.04162160590258157
0.030441639745673932
0.02774241435960967
0.017400269682938507
0.013753449208279811
0.01195494558013177
0.005162931038075413
0.0037515164379868793
0.0015549820714610973
0.0001931923399496327
0.0009755462400766746
0.0015369199968571223
0.0019592422652552344
0.0031925886209807075
0.002510193003675276
0.00202276862170514
0.0007490262529525893
0.0004986283575325601
0.0026310944410310455
0.001983505803267782
0.001510400493308417
0.002982333985455554
0.00343733402080737
0.0036346801311832877
0.0046134424101813565
0.003798549645837035
0.003186910115307029
0.003807661021144604
0.0006369067521578842
0.0009733817606791817
0.000343532979615091
0.0005502094901768118
0.0024744528542743893
0.0024473480662718927
0.002154841707014299
0.004210155044075847
0.0048904038353123624
0.0059440278629177
0.008441500734625684
0.009121723632717682
0.008055682340391002
0.01078625687860324
0.013139167445116229
0.017118665230113628
0.016031360435525777
0.015465660520975533
0.01740693266466753
0.024247191642404964
0.0128280310563742

,past_avg_amount_annuity,past_avg_amt_application,past_avg_amt_credit,past_loans_total
Original Sensitivity,144.951758,1292.933779,1585.325674,0.041622
Epsilon = 0.01,NaN,NaN,NaN,NaN
Epsilon = 0.2,NaN,NaN,NaN,NaN

### 2.3. Differential Privacy

In [71]:
def add_laplace_noise(data, sensitivity, epsilon):
  return data + np.random.laplace(loc=0, scale=sensitivity/epsilon)

def percentage_error(orig, est):
  return ((orig-est) / orig) * 100

##### Adding noise

In [72]:
noise_annuity_001 = add_laplace_noise(colunas['past_avg_amount_annuity'], s_annuity, 0.01)
s_annuity_001 = sensitivity_mean(noise_annuity_001)

noise_application_001 = add_laplace_noise(colunas['past_avg_amt_application'], s_application, 0.01)
s_application_001 = sensitivity_mean(noise_application_001)

noise_credit_001 = add_laplace_noise(colunas['past_avg_amt_credit'], s_credit, 0.01)
s_credit_001 = sensitivity_mean(noise_credit_001)

noise_loans_001 = add_laplace_noise(colunas['past_loans_total'], s_loans, 0.01)
s_loans_001 = sensitivity_mean(noise_loans_001)

df_sensitivity.loc["Epsilon = 0.01"] = [s_annuity_001, s_application_001, s_credit_001, s_loans_001]
display(df_sensitivity)

Total mean: 11755.090284384787
Total mean: 372771.28789114155
Total mean: 200985.75474985517
Total mean: 19.315296474020798

,past_avg_amount_annuity,past_avg_amt_application,past_avg_amt_credit,past_loans_total
Original Sensitivity,144.951758,1292.933779,1585.325674,0.041622
Epsilon = 0.01,144.951758,1292.933779,1585.325674,0.041622
Epsilon = 0.2,NaN,NaN,NaN,NaN

In [ ]:
noise_annuity_02= add_laplace_noise(colunas['past_avg_amount_annuity'], s_annuity, 0.2)
s_annuity_02 = sensitivity_mean(noise_annuity_02)

noise_application_02 = add_laplace_noise(colunas['past_avg_amt_application'], s_application, 0.2)
s_application_02 = sensitivity_mean(noise_application_02)

noise_credit_02= add_laplace_noise(colunas['past_avg_amt_credit'], s_credit, 0.2)
s_credit_02 = sensitivity_mean(noise_credit_02)

noise_loans_02 = add_laplace_noise(colunas['past_loans_total'], s_loans, 0.2)
s_loans_02 = sensitivity_mean(noise_loans_02)

df_sensitivity.loc["Epsilon = 0.2"] = [s_annuity_02, s_application_02, s_credit_02, s_loans_02]
display(df_sensitivity)

In [ ]:
noise_annuity_log2 = add_laplace_noise(colunas['past_avg_amount_annuity'], s_annuity, np.log(2))
s_annuity_log2 = sensitivity_mean(noise_annuity_log2)

noise_application_log2 = add_laplace_noise(colunas['past_avg_amt_application'], s_application, np.log(2))
s_application_log2 = sensitivity_mean(noise_application_log2)

noise_credit_log2 = add_laplace_noise(colunas['past_avg_amt_credit'], s_credit, np.log(2))
s_credit_log2 = sensitivity_mean(noise_credit_log2)

noise_loans_log2 = add_laplace_noise(colunas['past_loans_total'], s_loans, np.log(2))
s_loans_log2 = sensitivity_mean(noise_loans_log2)

df_sensitivity.loc["Epsilon = np.log(2)"] = [s_annuity_log2, s_application_log2, s_credit_log2, s_loans_log2]
display(df_sensitivity)

In [ ]:
noise_annuity_log3 = add_laplace_noise(colunas['past_avg_amount_annuity'], s_annuity, np.log(3))
s_annuity_log3 = sensitivity_mean(noise_annuity_log3)

noise_application_log3 = add_laplace_noise(colunas['past_avg_amt_application'], s_application, np.log(3))
s_application_log3 = sensitivity_mean(noise_application_log3)

noise_credit_log3 = add_laplace_noise(colunas['past_avg_amt_credit'], s_credit, np.log(3))
s_credit_log3 = sensitivity_mean(noise_credit_log3)

noise_loans_log3 = add_laplace_noise(colunas['past_loans_total'], s_loans, np.log(3))
s_loans_log3 = sensitivity_mean(noise_loans_log3)

df_sensitivity.loc["Epsilon = np.log(3)"] = [s_annuity_log3, s_application_log3, s_credit_log3, s_loans_log3]
display(df_sensitivity)

### Errors

In [69]:
orig_mean = colunas['past_avg_amount_annuity'].mean()
noise_mean = noise_annuity.mean()
print(percentage_error(orig_mean, noise_mean))

NameError: name 'noise_annuity' is not defined

##### Mean of people age of infringements

In [ ]:
df = infri[['infringed', 'age']]
display(df)

        infringed  age
0               1   25
1               0   45
2               0   52
3               0   52
4               0   54
...           ...  ...
307506          0   25
307507          0   56
307508          0   41
307509          1   32
307510          0   46

[307511 rows x 2 columns]

In [83]:
def sensitivity_age(data):
    l = []
    mean_age = data['age'].mean()
    print("Total mean:", mean_age)
    for i in range(len(data)):
        aux = data.drop(data.index[i])
        l.append(abs(mean_age - aux['age'].mean()))

    s_age_v = max(l)
    print("Sensitivity: ", s_age_v)
    return s_age_v

analyse = df[df['infringed'] == 1] 
s_age = sensitivity_age(analyse)

res_age = pd.DataFrame(columns=["Age"], index = ["Original Sensitivity", "Epsilon = 0.01", "Epsilon = 0.2"])
res_age.loc["Original Sensitivity"] = s_age
display(res_age)

Total mean: 40.279959718026184
Sensitivity:  0.0011166629182213228

                           Age
Original Sensitivity  0.001117
Epsilon = 0.01             NaN
Epsilon = 0.2              NaN

##### Mean of people age of infringements

In [ ]:
dp_age_001 = add_laplace_noise(analyse, s_age, 0.01)
s_age_001 = sensitivity_age(dp_age_001)
res_age.loc["Epsilon = 0.01"] = s_age_001

dp_age_02 = add_laplace_noise(analyse, s_age, 0.2)
s_age_02 = sensitivity_age(dp_age_02)
res_age.loc["Epsilon = 0.2"] = s_age_02

display(res_age)

Total mean: 40.377965138933874
Sensitivity:  0.0011166629182213228
Total mean: 40.281472898471364
Sensitivity:  0.0011166629182213228

                           Age
Original Sensitivity  0.001117
Epsilon = 0.01        0.001117
Epsilon = 0.2         0.001117

### 3. Synthetic Data